@model UCP_Praktikum.Models.Buku

@{
    ViewData["Title"] = "Details";
}

<h1>Detail</h1>

<div>
    <h4>Buku</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Judul Buku")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JudulBuku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penulis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penulis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penerbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penerbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Tahun Terbit")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThTerbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Halaman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Halaman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("ISBN")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBuku">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
