@model UCP_Praktikum.Models.Borrow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Waktu Pinjam")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Tenggat Waktu")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Waktu Pengembalian")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Judul Buku")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBukuNavigation.JudulBuku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Nama Member")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonNavigation.NmPerson)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBorrow">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
