@model IEnumerable<UCP_Praktikum.Models.Borrow>

@{
    ViewData["Title"] = "Pinjam";
}

<h1>Peminjaman Buku</h1>

<p>
    <a asp-action="Create">Pinjam Buku</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Waktu Pinjam")
            </th>
            <th>
                @Html.DisplayName("Tenggat Waktu Hingga")
            </th>
            <th>
                @Html.DisplayName("Waktu Mengembalikan")
            </th>
            <th>
                @Html.DisplayName("Judul Buku")
            </th>
            <th>
                @Html.DisplayName("Nama Peminjam")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBukuNavigation.JudulBuku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonNavigation.NmPerson)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBorrow"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdBorrow"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdBorrow"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
